body {
    background-color: rgb(243,238,231);
}

#home-tab {
    color: #343434;
    font-family: "Comfortaa";
}

#profile-tab {
    color: #343434;
    font-family: "Comfortaa";
}

#home-tab:hover {
    color: orange;
}

#profile-tab:hover {
    color: orange;
}

.jumbotron {
    margin: 2%;
    background-color: transparent;
}

h1, h5 {
    font-family: "Comfortaa";
}

p {
    font-family: "Quicksand";
}

.btn-lg {
    background-color: #343434;
    color: white;
    height: 50px;
    width: 170px;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Comfortaa", serif;
    border: none;
 }

 .btn:hover {
    background-color: orange;
    color: white;
  }
  

.card-group {
    margin: 20%;
}

.card {
    background-color: transparent;
    border: none;
}

.card-text {
    font-family: "Quicksand";
}

.display-4 prototype {
    margin: 20%;
}

.jumbotron-fluid {
    margin: 20%;
}

.media {
    margin: 20%;
}

.prototype {
    margin: 20%;
}

.container {
    margin: 20%;
}

.list-unstyled {
    margin: 20%;
}

.nav nav-tabs {
    background-color: transparent;
}

.nav-link {
    background-color: transparent;
}

#profile-tab {
    background-color: transparent;
}

#home-tab {
    background-color: transparent;
}

footer {
    background-color: #343434;
    margin: 5%;
    color: white;
    display: inline-block;
    width: 95%;
}